body{
  font-family: "Times New Roman", Times, serif; 
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
}
.main{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
header {
  text-align: center;
  background-color:  #051447;
  padding-top: 20px;

}
.heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  background-color: #343330;
  text-align: center;
}

h2{
  color: white;
  /* background-color: blue; */
  /* font-size: 40px;
  margin:200px;
  padding:10px; */
  /* border-style:dashed;
  border-color: green;
  border-width: 30px; */
  

}
#sidebar{
  background-color:#286c99;
  flex-direction: row;
  overflow: unset;
  padding-right: 20px;
 
 
}

.contents{
  

}

.profile{
 border-radius:120%;
 width:20%;
 height:100%;
 border: 4px solid rgb(179, 255, 0);

}
.icons{
  width: 3rem;
  margin: 2rem;
  height: auto;
  border-radius: 250px;


}
p.intro{ 
  color:white;
}